<footer>
    <section id="info-grid">
        <section id="info-list">    
            <i class="fa-solid fa-address-card"></i>
            <h2>Informații de contact</h2>
            <address>
                <ul>
                    <li>
                        <a href="tel:+40-763-783-057" class="footer_link">Tel:0763-783-057</a>
                    </li>
                    <li>
                        <a href=" https://wa.link/nekr58" class="footer_link">Contactează-ne pe whatsapp:0763-783-057</a>
                    </li>
                    <li>
                        <a href="mailto:cfopiu@gmail.com" class="footer_link">mail: cfopiu@gmail.com</a>
                    </li>
                </ul>
            </address>
        </section>
        <section id="info-loc">
            <p> Strada Florilor, nr. 72, Sector 6, București</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d11395.480063647781!2d26.098627117365723!3d44.435828487208845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83%2C%20Strada%20Academiei%2014%2C%20Bucure%C8%99ti%20010014!3m2!1d44.4355355!2d26.0995867!5e0!3m2!1sro!2sro!4v1713090230657!5m2!1sro!2sro" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>        
        </section>
    </section>
    <section id="footer-last">
        <p id="printare">Acesta este un proiect școlar!</p>                    
        <a href="#acasa" class="footer-link">
            <div id="footer-link-border">
                <div id="footer-link-content" class="tooltip">
                &#8593
                <span class="tooltiptext">Go home</span>
                </div>
            </div>
        </a>
        <br>
        <small>
            &COPY;
            <time datetime="2024-04-10 20:00">Vinyl Basement, 10.04.2024</time>
        </small>
    </section>
   
</footer>