<header>
    <h1>
        <b>Vinyl Basement</b>
    </h1>
    <nav>
        <ul class="meniu">
            <li id="acasa"><a href=" " target="_blank">Acasă</a>
                <ul>
                    <li ><a href="#FAQ">FAQ</a></li>
                    <li ><a href="#info-grid">Contact</a></li>
                </ul>
            </li>
                <!-- link catre id in interiorul paginii -->
            <li><a href="desprenoi.html" target="_blank">Despre noi</a></li>
            <li><a href="# ">Produse</a></li>
                <!-- link catre pagina exterioara/ de modificat link-->
            <li><a href="# ">Coș de cumpărături</a></li>
                <!-- link catre pagina de pe server/alta pagina de-ale mele
                de modificat link
                -->
            <li><a href="# " target="_blank">Favorite</a></li>
            <li><a href="# " target="_blank">Înregistrare</a></li>
            
            
        </ul>
    </nav>
</header>